body {
 font-family: Helvetica;
 text-align: center;

}

.nav-links {
  color: white;
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  padding: 8px;
}

#masthead {
  background-image: url('../images/the-flatiron-building.png');
}

#masthead li {
  font-weight: 600;
  padding: 8px;
  
}

#footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
  padding: 4px 8px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline;
  margin: 2px;
}
